* {
    /* background-color: rgba(0, 0, 0, 0.1); */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

input[type=text], fieldset {
    border: solid 1px gray;
    border-radius: 5px;
}

input[type=text] {
    width: 100%;
}

.task {
    display: flex;
    flex-direction: row;
}

.task, #speichern_div {
    padding: 3px;
}

.task label {
    min-width: 200px;
}

#filename {
    max-width: 200px;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}